html {
  text-align:center;
  background: rgb(255, 255, 255);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
}
.topnav {
  background-color: rgba(41, 41, 41, 0.555);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}